@page "/"

<PageTitle>トップ - モンスタートーナメント</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">モンスタートーナメント</MudText>
<MudText Class="mb-8">オリジナルモンスターを作って戦おう！</MudText>

<MudText Typo="Typo.h5" GutterBottom="true">使い方</MudText>
<br />
<MudText Typo="Typo.body2">
    <ol>
        <li>左のエディターからモンスターを作る</li>
        <li>左のバトルでモンスターを戦わせる</li>
    </ol>
</MudText>
