@page "/"

<PageTitle>トップ - モンスタートーナメント</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">モンスタートーナメント</MudText>
<MudText Class="mb-8">オリジナルモンスターを作って戦うツールです</MudText>

<MudText Typo="Typo.h5" GutterBottom="true">遊び方</MudText>
<br />
<MudText Typo="Typo.body2">
    1. メニューの「エディター」からモンスターを作って、ダウンロードする<br />
    2. メニューの「バトル」でモンスターを戦わせよう！<br />
    <br />
    サンプルのモンスターは<a href="/サンプル.zip">こちら</a><br />
    ダウンロードしたzipファイルは解凍してください
</MudText>
